<header>
        <nav class="navbar">
            <ul class="navlist">
                <li class="navclass"><a href="/">Home</a></li>
                <li class="navclass"><a href="/blog/">Blog</a></li>
            </ul>
        </nav>
</header>
 
