/* Simple styles for basic layout */
body {
    font-family: sans-serif;
    margin: 20px;
    line-height: 1.5;
    background-color: black;
    color: white;
}

header {
    margin-bottom: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #2B59C3;
    text-decoration: none;
}

a:visited {
    color: #2B59C3;
}

footer {
    max-width: 800px;
    margin: 40px auto 0;
    font-size: 0.96em;
}
