---
title: ihatelinkedin
layout: "base.njk"
---

    <main>
        <section>
            <p id="linkedin">i don't like linkedin btw. go back&nbsp;<a href="/"> home</a></p>
        </section>
    </main>
    

