---
title: Aqil Yusri
layout: "base.njk"
---

    <main>
        <section id="introduction">
            <h1>Aqil Yusri</h1>
            <p>An engineer specializing in electronics and semiconductors, with a strong interest in AI and ML.</p>
            <p>Reach me out at <a href="mailto:aqilyusri@proton.me">aqilyusri@proton.me</a>.</p>
        </section>
        
        <section id="links">
            <h2>Links</h2>
            <ul class="articles_list">
                <li class="article"><a href="https://x.com/AQLYSR">Twitter/X</a></li>
                <li class="article"><a href="https://github.com/AQLYSR">GitHub</a></li>
            </ul>
        </section>
    </main>
    

